<header>
    <div class="header_menu" title="Menu de opciones"> 
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="header_logo">
        <img src="/assets/img/logo.png" alt="Logo"/>

    </div>
    <div class="header_buscador">
        <input type="text" placeholder="Buscar" />
    </div>
    <div class="header_usuario" title="Perfil de usuario">
        <i class="fa-solid fa-user"></i>
    </div>
    <div class="header_carrito" title="carrito de compras">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
</header>