<nav *ngIf="isOpen">
    <div class="nav-item">
        <div class="nav-item-icon">
            <i class="fa-solid fa-car"></i>
        </div>
        <div class="nav-item-text">
            carros
        </div>
    </div>

     <div class="nav-item">
        <div class="nav-item-icon">
            <i class="fa-solid fa-gamepad"></i>
        </div>
        <div class="nav-item-text">
            Videojuegos
        </div>
    </div>

     <div class="nav-item">
        <div class="nav-item-icon">
            <i class="fa-solid fa-film"></i>
        </div>
        <div class="nav-item-text">
            Peliculas
        </div>
    </div>
</nav>