nav {
    padding: 8px;
    transition: width 0.3s ease-in-out,
                padding 0.3s ease-in-out;

    &.nav-closed {
        width: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        padding: 6px;
        gap: 6px;
        cursor: pointer;

        &:hover {
            background-color: #D9D9D9;
        }
    }
}