footer {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;

    .footer-item {
        flex-grow: 1;
        display: flex;
        padding: 40px;

        &:first-child {
            justify-content: end;
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
    }
}