footer {
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;

    .footer-item {
        flex-grow:1;
        display: 40px;
        padding: 40px;

        &:first-child {
            justify-content: end;
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
    }
}