<footer>
   <div class="footer-item">
        Datos de la empresa
        telf: 01 5465456
        Direccion: Jr paris 123
        correo: Paris93933@gmail.com
    </div>
    <div class="footer-item">
        <div>
            <div>Siguenos en:</div>
            <div>
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>